@model lab07_3.Controllers.Borrow

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Borrow_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrow_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expire_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expire_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.RollNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.RollNo)
        </dd>

        @foreach (var item in Model.Books)
        {
            <dt>
                Book Title
            </dt>
            <dd>

                @Html.DisplayFor(book => item.Title)
                <br />

            </dd>

            <dt>
                Book ID
            </dt>
            <dd>

                @Html.DisplayFor(book => item.Id)
                <br />

            </dd>
        }
    </dl>
</div>
@Html.DropDownListFor(model => model.Books, Model.Books.Select(m => new SelectListItem
{
                       Value = m.Id.ToString(),
                       Text = m.Title
                }), new { @class = "form-control" })
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
